*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#sphinx docs
docs/_build

venv

###IntelliJ###

*.iml
*.ipr
*.iws
.idea/

###vim###

.*.sw[a-z]
*.un~
Session.vim

###SublimeText###

/*.sublime-project
*.sublime-workspace
sftp-config*.json
